@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  @apply bg-gray-900;
}

body,
input,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.statusClass {
  background: url('./assets/sprite-tabela.svg') 0 0;
  width: 8px;
  height: 10px;
}

.status-up {
  background-position: left 0;
}

.status-down {
  background-position: right 2px;
}

.status-same {
  background: none;
  background-color: #ccc;
  height: 7px;
}
